* {
    font-family: "Sarala", "sans-serif";
    color: #fff;
}

html, body {
    margin: 0;
    padding: 0;
}

#header {
    position: sticky;
    top: 0;
    background-color: rgba(42, 31, 45, 0.95);
    padding: 10px 25px;
}

body {
    background-color: #2a1f2d;
}

#title {
    text-align: center;
    font-size: 25px;
}

#nav {
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 50%;
    overflow-x: scroll;
    /* https://stackoverflow.com/a/53787170/17712310 */
    scrollbar-width: none;
}

#nav::-webkit-scrollbar {
    display: none;
}

#nav > a {
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    color: rgb(210, 210, 210);
    transition: color 100ms ease-out;
}

#nav > a:hover {
    color: #fff;
}

.pic-tags {
    overflow-y: visible;
    padding: 5px 0;
}

.pic-tag {
    cursor: pointer;
    transition: box-shadow 100ms ease-out;
    font-size: 15px;
}

.pic-tag:hover {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.358);
}

/* mobile phones
https://css-tricks.com/a-complete-guide-to-css-media-queries/
https://www.lambdatest.com/blog/how-to-use-css-breakpoints-for-responsive-design/#HowToSet */
@media screen and (max-width: 480px) {
    #nav {
        max-width: 100%;
    }
}

/* desktop */
@media screen and (min-width: 480px) {
    #nav {
        max-width: 50%;
    }
}