/*Indivial Travel Page CSS*/

h1 {
    font-family: 'Lora', serif;
    color: white;
    text-align:center;
}

h2 {
   font-family: 'Sarala', sans-serif; 
   color: white;
   text-align:left;
}

body {
    background-color: #2a1f2d;
}