/*Indivial Travel Page CSS*/

h1 {
    font-family: 'Lora', serif;
    color: white;
    text-align:center;
}

h2 {
   font-family: 'Sarala', sans-serif; 
   color: white;
   text-align:left;
   font-size: 30px;
}

body {
    background-color: #2a1f2d;
}

.pinkBlock{
    padding:1%;

}

.purpleBlock{
    padding:1%;
}

#blogStyle {
    margin:auto;
    padding:5px;
    border:2px solid #ccc;
    background-color:white;
    color:black !important;
}

.imageCenter{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
