#content {
    padding: 25px;
}

#pic {
    width: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, .75);
}

.pic-tags {
    display: flex;
    column-gap: 25px;
    width: 100%;
    overflow-x: scroll;
}

.pic-tags::-webkit-scrollbar {
    display: none;
}

.pic-tag {
    background-color: #EA526F;
    padding: 5px 25px;
    border-radius: 1000px;
}

#related-pics {
    display: flex;
    /* https://css-tricks.com/almanac/properties/g/gap/ */
    gap: 5%;
    row-gap: 25px;
    margin-top: 50px;
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/flex-wrap */
    flex-wrap: wrap;
    box-sizing: border-box;
}

#related-pics > img {
    width: 47.5%;
    box-shadow: 0 0 15px rgba(0, 0, 0, .75);
}