h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

/* from country page */
hr {
    margin: 20px;
}

#pic-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}

#author-name {
    font-size: 15px;
}

#pic {
    margin: 50px auto;
    display: block;
    box-shadow: 0 0 15px rgba(0, 0, 0, .75);
}

#location-title {
    font-size: 15px;
    margin-bottom: 15px;
    font-weight: 500;
}

.pic-tags {
    display: flex;
    column-gap: 25px;
    width: 100%;
    overflow-x: scroll;
}

.pic-tags::-webkit-scrollbar {
    display: none;
    /* https://stackoverflow.com/a/53787170/17712310 */
    scrollbar-width: none;
}

.pic-tag {
    background-color: #EA526F;
    padding: 5px 25px;
    border-radius: 1000px;
}

#related-photos {
    margin-top: 50px;
    font-weight: 500;
}

#related-title {
    font-size: 15px;
    margin-bottom: 20px;
}

#related-pics-gallery {
    display: flex;
    /* https://css-tricks.com/almanac/properties/g/gap/ */
    gap: 5%;
    row-gap: 40px;
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/flex-wrap */
    flex-wrap: wrap;
    box-sizing: border-box;
}

#related-pics-gallery > img {
    width: 47.5%;
    box-shadow: 0 0 0px rgba(0, 0, 0, .75);
    transition: box-shadow 100ms ease-out;
    cursor: pointer;
}

#related-pics-gallery > img:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 1);
}

/* mobile phones
https://css-tricks.com/a-complete-guide-to-css-media-queries/
https://www.lambdatest.com/blog/how-to-use-css-breakpoints-for-responsive-design/#HowToSet */
@media screen and (max-width: 480px) {
    #content {
        padding: 25px;
    }

    #pic {
        width: 100%;
    }

    #related-pics-gallery > img {
        width: 100%;
    }
}

/* desktop */
@media screen and (min-width: 480px) {
    #content {
        padding: 25px 50px;
    }

    #pic {
        width: 50%;
    }

    #related-pics-gallery > img {
        width: 47.5%;
    }
}