.centered {
  text-align: center;
}

.main-image {
    width: 45%;
    box-shadow: 0 0 15px rgba(0, 0, 0, .75);
	text-align: center;
}

.main-text {
	margin-left: 30%;
	margin-right: 30%;
	
}
.portrait-block {
 padding: 0 15% 0 15%; 
	
}
.portrait-image {
  width: 25%;
  border-radius: 50%;

}

.pinktext {
	color: #EA526F;
}


.bio-text {
	width: 80%
}

.word-cloud {
	width: 40%;
}

.column-left-text{
  float: left;
  margin-left: 24%;
  margin-top: 3%;
  width: 30%;

}

.email {
	width: 5%;
	border-radius: 50%;
}

.column-left-image{
float: left;
}



.float-image{
float: left;
margin-right: 5%;
margin-left: 18%;
margin-top: -4%;
}



.pic-tags {
    display: flex;
    column-gap: 25px;
    width: 100%;
    overflow-x: scroll;
}





.pic-tags::-webkit-scrollbar {
    display: none;
}

.pic-tag {
    background-color: #EA526F;
    padding: 5px 25px;
    border-radius: 1000px;
}


#related-pics > img {
    width: 47.5%;
    box-shadow: 0 0 15px rgba(0, 0, 0, .75);
}