#content-2 {
    width: 75%;
    margin: auto;
}

#country-head {
    text-align: center;
}

#map {
    width: 100%;
    text-align: center;
}

#map-image {
    cursor: pointer;
    width: 100%;
    height: auto;
}

#country-dropdown {
    width: 75%;
    height: auto;
    margin-top: 5px;
}

#countries {
    cursor: pointer;
    border: 0px;
    background-color: #fff;
    color: rgba(42, 31, 45, 0.95);
    border-radius: 5px;
}